/**
 * IE8 CSS
 * Not to fully support ie8,
 * but just to make it readable
******************************************/
body #container{
	max-width: 1100px;
	max-width: 900px;
}
.entry-summary .wp-caption,
.entry-content .wp-caption,
.image-gallery .wp-caption,
.attachment-image-wrap .wp-caption,
.widget_text .wp-caption{
	border: 1px solid #ccc;
}
.plural .entry .theme-thumbnail{
	border: 1px solid #ccc;
}
.entry-content img,
.entry-summary img,
.widget_text img {
	width: inherit !important;
	max-width: 100% !important;
	height: auto !important;
}