/**
 * Media Queries CSS
******************************************/

/*****************************************
 * TABLE OF CONTENTS:
 * 
 * #00 - VIEWPORT FIX
 * #01 - LAYOUTS       (max-width: 1000px)
 *                     (max-width:  700px)
 * #02 - MENU          (max-width:  700px)
 * #03 - ENTRY         (max-width:  450px)
 * #04 - LOOP-NAV      (max-width:  700px)
 * #05 - COMMENTS      (max-width:  700px)
 * #06 - JETPACK       (max-width:  450px)
 * 
 *****************************************/

 /* Make Responsive */
#container{
	max-width: 95%;
}
 
/* === #00 - VIEWPORT FIX === 
 * Does the same thing as <meta name="viewport" content="width=device-width">
 * for Windows 8 "Snapped" views in IE10+
 * @link http://core.trac.wordpress.org/ticket/25888
 * @link http://blog.teamtreehouse.com/thinking-ahead-css-device-adaptation-with-viewport
 */
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}


/* === #01 - LAYOUTS === */
@media screen and (max-width: 1000px){
	.wordpress .main-wrap{
		margin-right: 0;
		margin-left: 0;
	}
	.wordpress #sidebar-primary-wrap{
		margin-right: 0;
		margin-left: 0;
		float: left;
		width: 100%;
	}
	.wordpress #sidebar-primary-wrap .widget{
	}
}
@media screen and (max-width: 700px){
	.wordpress .main-inner{
		float: none;
		padding-left: 0;
		padding-right: 0;
	}
	.wordpress #sidebar-secondary-wrap{
		margin-right: 0;
		width: 100%;
	}
}


/* === #02 - MENU ===  */
@media screen and (max-width: 700px){

	/* Menu Primary 1st Level */
	#menu-primary li a{
		background: #444;
	}

	/* === Menu Toggle: no-js === */
	#menu-primary .menu-toggle a{
		color: #fff;
	}
	#menu-primary:target .menu-toggle{
		border-bottom: 1px solid #ccc;
	}
	#menu-primary:target .menu-items{
		display: block;
	}
	#menu-primary:target .menu-toggle-open{
		display: none;
	}
	#menu-primary:target .menu-toggle-close{
		display: inline;
	}

	/* css/menu-mq.min.css */
	.menu-toggle{font-weight:700;line-height:1.8em;padding:9px;padding:.9rem;width:100%;height:47px;height:4.7rem}.menu-toggle a:before{content:"\f203";font-family:dashicons;font-weight:400;font-size:20px;font-size:2rem;vertical-align:top;margin-right:.5rem;margin-right:5px;-webkit-font-smoothing:antialiased}.menu-toggle a.menu-toggle-close:before,.menu-toggle-active .menu-toggle a:before{content:"\f158"}.mobile-menu-active .menu-dropdown li:hover>.sub-menu{left:auto}.menu-toggle{display:block}.menu-items,.menu-toggle .menu-toggle-close{display:none}.menu-toggle-active.menu-container{border-bottom:0}.menu-toggle-active .menu-items{display:block}.menu-toggle-active .menu-toggle{border-bottom:1px solid #ccc}.menu-toggle-active>.wrap{display:block}.menu-dropdown:after{content:".";display:block;height:0;clear:both;visibility:hidden}.menu-dropdown>.wrap{display:block;margin-right:0;width:100%}.menu-dropdown .sub-menu .menu-item-has-children>a:before,.menu-dropdown .sub-menu .menu-item-open-children>a:before{content:""}.menu-dropdown ul li.menu-item-has-children>a:before,.menu-dropdown ul li.menu-item-open-children>a:before{position:inherit;right:auto}.menu-dropdown li{display:block;width:100%}.menu-dropdown .sub-menu{width:100%;border:none}.menu-dropdown .sub-menu li a,.menu-dropdown li a{width:100%;border:none;border-bottom:1px solid #ccc;background:#eee}.menu-dropdown .sub-menu li a{background:0 0}.menu-dropdown .sub-menu,.menu-dropdown .sub-menu li:hover>.sub-menu,.menu-dropdown li:hover>.sub-menu{opacity:1;left:auto;top:auto;position:inherit}.menu-dropdown ul li.menu-item-has-children>a:before,.menu-dropdown ul li.menu-item-open-children>a:before{content:""}.menu-dropdown .sub-menu .sub-menu li a:before{content:"\f460 ";font-family:dashicons;vertical-align:top;padding:0;margin-right:5px;margin-right:.5rem;float:none;-webkit-font-smoothing:antialiased}.menu-dropdown .sub-menu .sub-menu .sub-menu li a:before{content:"\f460 \f460 "}.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu li a:before{content:"\f460 \f460 \f460 "}.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a:before{content:"\f460 \f460 \f460 \f460 "}.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a:before{content:"\f460 \f460 \f460 \f460 \f460 "}.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a:before{content:"\f460 \f460 \f460 \f460 \f460 \f460 "}.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a:before{content:"\f460 \f460 \f460 \f460 \f460 \f460 \f460 "}.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a:before{content:"\f460 \f460 \f460 \f460 \f460 \f460 \f460 \f460 "}.menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a:before{content:"\f460 \f460 \f460 \f460 \f460 \f460 \f460 \f460 \f460 "}
}


/* === #03 - ENTRY === */
@media screen and (max-width: 450px) {
	.entry-byline .entry-author{
		display: block;
	}
	.entry-content .alignleft,
	.entry-content .alignright{
		max-width: 50%;
	}
}


/* === #04 - LOOP-NAV === */
@media screen and (max-width: 700px) {
	.loop-nav .prev{
		width: 100%;
	}
	.loop-nav .next{
		width: 100%;
		padding-right: 0;
		padding-left: 30px;
		padding-left: 3rem;
		text-align: left;
	}
	.loop-nav .next a:after{
		right: auto;
		left: 0;
	}
}


/* === #05 - COMMENTS === */
@media screen and (max-width: 700px) {
	#respond .comment-form-author,
	#respond .comment-form-email,
	#respond .comment-form-url{
		width: 100%;
		margin-right: 0;
		float: none;
	}
	#respond #submit{
		float: none;
	}
}


/* === #06 - JETPACK === */
/* Related Posts */
@media only screen and (max-width: 450px) {
	div.jp-relatedposts .jp-relatedposts-post {
		width: auto;
		clear: both;
		margin: 0 0 1em;
	}
}