/* body class: "plural-display-gallery" */
.plural-display-gallery .has-post-thumbnail .entry-wrap{
	margin-left: 0;
}
.plural-display-gallery .entry:after{
	content: "";
}
.plural-display-gallery .entry{
	width: 50%;
	float: none;
	margin-right: -0.25em;
	display: inline-block;
	vertical-align: top;
	padding-left: 0;
	padding-right: 10px;
	padding-right: 1rem;
}
.plural-display-gallery .entry:nth-child(even){
	padding-right: 0;
	padding-left: 10px;
	padding-left: 1rem;
}